/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define MO_TOG(layer) &mo_tog layer layer // macro to apply momentary on hold, toggle on tap
#define MO_SL(layer) &mo_sl layer layer // macro to apply momentary on hold sticky on tap
// #define TD_MO_SL(layer) &td_mo_sl layer layer // macro to apply momentary on hold, sticky on tap, tog on double tap
#define TD_SL_TOG(layer) &td_sl_tog layer layer // macro to apply toggle on tap, toggle on double tap

#define DEFAULT 0
#define LOWER 1
// #define LOWER_TOG 2
#define RAISE 2
// #define RAISE_TOG 4



/ {
        behaviors {
                mo_tog: behavior_mo_tog {
                        compatible = "zmk,behavior-hold-tap";
                        label = "mo_tog";
                        #binding-cells = <2>;
                        flavor = "hold-preferred";
                        tapping-term-ms = <200>;
                        bindings = <&mo>, <&tog>;
                };
                mo_sl: behavior_mo_sl {
                        compatible = "zmk,behavior-hold-tap";
                        label = "mo_sl";
                        #binding-cells = <2>;
                        flavor = "hold-preferred";
                        tapping-term-ms = <200>;
                        bindings = <&mo>, <&sl>;
                };
                td_lower: behavior_td_lower {
                        compatible = "zmk,behavior-tap-dance";
                        label = "td_lower";
                        #binding-cells = <0>;
                        tapping-term-ms = <200>;
                        bindings = <&mo_sl LOWER LOWER>, <&tog LOWER>;
                };
                td_raise: behavior_td_raise {
                        compatible = "zmk,behavior-tap-dance";
                        label = "td_lower";
                        #binding-cells = <0>;
                        tapping-term-ms = <200>;
                        bindings = <&mo_sl RAISE RAISE>, <&tog RAISE>;
                };
        };

        combos{
                compatible = "zmk,combos";
                combo_tab {
                        timeout-ms = <50>;
                        key-positions = <13 14>;
                        bindings = <&kp TAB>;
                };
        };

        keymap {
                compatible = "zmk,keymap";

                default_layer {
// --------------------------------------------------------------------------------
// | ---- |  Q  |  W  |  F  |  P  |  B  |   |  J  |  L   |  U  |  Y  |  ;  | ---- |
// | ---- |  A  |  R  |  S  |  T  |  G  |   |  M  |  N   |  E  |  I  |  O  | ---- |
// | ---- |  Z  |  X  |  C  |  D  |  V  |   |  K  |  H   |  ,  |  .  |  /  | ---- |
//                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |
                        bindings = <
   &none  &kp Q &kp W    &kp F    &kp P        &kp B           &kp J   &kp L        &kp U     &kp Y   &kp SEMI    &none
   &none  &kp A &kp R    &kp S    &kp T        &kp G           &kp M   &kp N        &kp E     &kp I   &kp O       &none
   &none  &kp Z &kp X    &kp C    &kp D        &kp V           &kp K   &kp H        &kp COMMA &kp DOT &kp FSLH    &none
                         &kp LGUI &td_lower &kp SPACE       &kp RET &mo RAISE &kp RALT
                        >;
                };

                lower_layer {
// -------------------------------------------------------------------------------
// | ---- |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | ---- |
// | ---- | BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     | ---- |
// | ---- |     |     |     |     |     |   |     |     |     |     |     | ---- |
//                    | GUI |     | SPC |   | ENT |     | ALT |
                        bindings = <
   &none &kp N1       &kp N2       &kp N3          &mt RBRC LBRC &kp N5         &kp N6   &kp N7   &kp N8 &kp N9    &kp N0 &none
   &none &kp TAB &bt BT_SEL 1 &mt MINUS UNDER &mt RPAR LPAR &bt BT_SEL 4   &kp LEFT &kp DOWN &kp UP &kp RIGHT &trans &none
   &none &trans       &trans       &trans          &mt RBKT LBKT &trans         &trans   &trans   &trans &trans    &trans &none
                                   &kp LGUI        &tog LOWER        &kp SPACE      &kp RET  &trans   &kp RALT
                        >;
                };

//                 lower_toggle_layer {
//                         bindings = <
//    &none &trans &trans &trans &trans      &trans     &trans &trans &trans &trans &trans &none
//    &none &trans &trans &trans &trans      &trans     &trans &trans &trans &trans &trans &none
//    &none &trans &trans &trans &trans      &trans     &trans &trans &trans &trans &trans &none
//                        &trans &to DEFAULT &trans     &trans &trans &trans
//                         >;
//                 };

                raise_layer {
// -------------------------------------------------------------------------------
// | ---- |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | ---- |
// | ---- |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  | ---- |
// | ---- |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" | ---- |
//                    | GUI |     | SPC |   | ENT |     | ALT |
                        bindings = <
   &none &kp EXCL &kp AT &kp HASH &kp DLLR &kp PRCNT   &kp CARET &kp AMPS  &kp KP_MULTIPLY &kp LPAR &kp RPAR &none
   &none &trans   &trans &trans   &trans   &trans      &kp MINUS &kp EQUAL &kp LBKT        &kp RBKT &kp BSLH &none
   &none &trans   &trans &trans   &trans   &trans      &kp UNDER &kp PLUS  &kp LBRC        &kp RBRC &kp PIPE &none
                         &kp LGUI &trans   &kp SPACE   &kp RET   &trans    &kp RALT
                        >;
                };
        };
};

